In [91]:
import pandas as pd
import numpy as np
import seaborn; seaborn.set()
import matplotlib.pyplot as plt

from datetime import datetime

%matplotlib inline

In [92]:
date = np.array('2016-07-04', dtype=np.datetime64)
date

array(datetime.date(2017, 7, 4), dtype='datetime64[D]')

In [93]:
#creates 12 concsecutive dates starting from July 4, 2015
date + np.arange(12)

array(['2017-07-04', '2017-07-05', '2017-07-06', '2017-07-07',
       '2017-07-08', '2017-07-09', '2017-07-10', '2017-07-11',
       '2017-07-12', '2017-07-13', '2017-07-14', '2017-07-15'], dtype='datetime64[D]')

In [94]:
#day-based datetime
np.datetime64('2016-07-04')

numpy.datetime64('2017-07-04')

In [95]:
#minute-based datetime
#sets to time zone of local computer
np.datetime64('2016-07-04 12:00')

numpy.datetime64('2017-07-04T12:00')

In [96]:
date = pd.to_datetime("4th of July, 2016")
date

Timestamp('2017-07-04 00:00:00')

In [97]:
#output day of the week
date.strftime('%A')

'Tuesday'

In [98]:
#create 12 consecutive dates starting from July 4, 2015
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2017-07-04', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-08', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-14', '2017-07-15'],
              dtype='datetime64[ns]', freq=None)

In [99]:
#make index using timestamp
index = pd.DatetimeIndex(['2016-07-04', '2016-08-04',
                          '2017-07-04', '2017-08-04'])

data = pd.Series([0,1,2,3], index=index)
data

2016-07-04    0
2016-08-04    1
2017-07-04    2
2017-08-04    3
dtype: int64

In [100]:
#can slice date index similarly to regular index slicing
#includes ending index
data['2014-07-04':'2015-07-04']

Series([], dtype: int64)

In [102]:
#get rows from 2016
data['2016']

2016-07-04    0
2016-08-04    1
dtype: int64

In [103]:
#will concert different formats into datetime
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July 2015', '2015-Jul-6', '07-07-2015', '20150708'])
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)

In [104]:
#assigned a 'day' frequency
dates.to_period('D')

PeriodIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
             '2015-07-08'],
            dtype='period[D]', freq='D')

In [106]:
#calculate # of days between 07-03-2016 and each date
dates - dates[0]

TimedeltaIndex(['0 days', '1 days', '3 days', '4 days', '5 days'], dtype='timedelta64[ns]', freq=None)

In [108]:
#create days between start date and end date
#default frequency is 'day'
pd.date_range('2016-07-03', '2016-07-10')

DatetimeIndex(['2016-07-03', '2016-07-04', '2016-07-05', '2016-07-06',
               '2016-07-07', '2016-07-08', '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')